@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Saira:wght@700&display=swap');


:root{
    --primary-color: #033b4a;
    --secondary-color: #20c997;
    --gray: #4a4a4d;
    --bg-primary: #ecf0f3;

}
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1, 
h2{
    font-family: 'Saira', sans-serif;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/*utility classes*/
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;

}

.text-primary {
    color: var(--secondary-color);
}

.btn_primary {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.btn_secondary{
    background-color: white;
    color: gray;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 10px;
    transition: all 0.3s ease;
    border: 2px solid gray;

}


.btn_primary:hover {
    background-color: #15a076;
}
.btn_secondary:hover{
    background-color: gray;
    color: white;
}
/*header start*/
header  {
    background-color: var(--bg-primary);
    height: 100vh;
}
header .navbar {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;    
}
header .navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 1.5rem 2rem;

}
#home #logo{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 600;
}
header .navbar nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar nav ul a{
    margin: 0 15px;
    color: var(--primary-color);
    font-weight: 600;
}
header .header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    padding: 5rem 2rem 0;
    height: 100%;
}
header .header-content .content-text{
    margin-bottom: 5rem;
}
.content-text .btn_primary{
    flex: 1;
    margin-right: 20px;
    font-size: 20px;
}


header .header-content img{
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

#home .header-content p span {
    font-weight: 700;
    font-size: 20px;
}
#home .header-content h1 {
    font-size: 60px;
    color: var(--primary-color);
    text-shadow: 3px 3px 3px rgba(0,0 , 0, 0.2);
}
#home .header-content .title {
    font-size: 20px;
    color: var(--primary-color);
    margin: 10px 0;
    font-weight: 500;
    margin: 2rem 0 0 ;
}
#home .header-content .social {
    margin: 0 0 2rem;
}
#home .header-content .social a i {
    font-size: 50px;
    padding: 10px;
    color: #033b4a;
}

/*header end*/

/*about start*/
#about, #skills, #projects{
    padding: 6rem 0rem;
}

#about h2, #skills h2, #projects h2{
    text-align: center;
    font-size: 45px;
    color: var(--primary-color);
    font-weight: 600;

}
#about hr, #skills hr, #projects hr{
    width: 220px;
    height: 3px;
    background-color: var(--secondary-color);
    margin: 5px auto 0;
}
#about .about-content{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
}

#about .about-content .col-1 h3 {
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 20px;

}
#about .about-content .col-2 p{
    margin-bottom: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
/*about end*/

/*skills start*/

#skills{
    background-color: var(--bg-primary);
}
#skills h2{
    font-family: 'Poppins', sans-serif;

}
.skills-content{
    width: 160px;
    height: 160px;
    position: relative !important;
}
.outer{
    width: 160px;
    height: 160px;
    padding: 20px;
    box-shadow: 0 0 50px rgba(0,0,0,0.15);
    border-radius: 50%;
}
.inner{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0 , 0, 0.2), inset -4px
    -4px 6px -1px rgba(255,255,255,0.7),
    -0.5px -0.5px 0px rgba(255,255,255,1), 0.5px 0.5px 0px
     rgba(0,0,0,0.15), 0px 12px 10px -10px rgba(0,0,0,0.05);
}
.number{
    font-weight: 600;
    color: var(--primary-color);
    font-size: 20px;
}
circle{
    fill : none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
}
.start-animation circle{
    animation: anim 2s linear forwards;
}


@keyframes anim {
    100%{
        stroke-dashoffset: 157.5;
    }

}

.skills-content:nth-child(2).start-animation circle{
    
    stroke-dashoffset: 450;
    animation: anim3 2s linear forwards;

}
@keyframes anim3 {
    100% { 
        stroke-dashoffset: 225;
    }
    
}
.skills-content:nth-child(3).start-animation circle{
    
    stroke-dashoffset: 450;
    animation: anim3 2s linear forwards;

}
@keyframes anim3 {
    100% { 
        stroke-dashoffset: 225;
    }
    
}
.skills-content:nth-child(5).start-animation circle{
    
    stroke-dashoffset: 450;
    animation: anim1 2s linear forwards;

}
@keyframes anim1 {
    100% { 
        stroke-dashoffset: 270;
    }
    
}
.skills-content:nth-child(7).start-animation circle{
    
    stroke-dashoffset: 450;
    animation: anim4 2s linear forwards;

}
@keyframes anim4 {
    100% { 
        stroke-dashoffset: 180;
    }
    
}
.skills-content:nth-child(8).start-animation circle{
    
    stroke-dashoffset: 450;
    animation: anim1 2s linear forwards;

}
@keyframes anim1 {
    100% { 
        stroke-dashoffset: 270;
    }
    
}

svg{
    position: absolute;
    top: 0;
    left: 0;
}
.alldonuts{
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}
#skills .skills-section .alldonuts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
}
#skills .skills-section .alldonuts .skills-content{
    color: #033b4a;
    margin: 30px;
    font-size: 13px;
    font-weight: 600;
}
#skills .skills-section .alldonuts .skills-content:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 100px;
}
.skills-content {
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
}


.start-animation {
    opacity: 1; 
}
/*skills end*/

/*projects start*/
#projects .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

#projects .item {
    width: calc(50% - 20px); /* Réglage de la largeur pour deux cartes par ligne */
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre sur tous les côtés */
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin-top: 6rem;
    padding: 40px;
  }
#projects .item:hover {
    transform: translateY(-5px);
  }
#projects .item h5 {
    font-size: 15px;
    margin-bottom: 10px;
  }
#projects .item p {
  color: #555;
  margin-bottom: 20px;
}
#projects .item hr {
    margin: 1rem 0;
    color: gray!important;
    border: 0;
    border-top: 1px solid gray;
    opacity: .25;
    
}
#projects .item .item-buttons {
    justify-content: space-between;
  }
#projects .item .txt {
    font-size: 14px;
    color: #777;
  }

